body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f1f1f1;
     background-image: url("background.jpg"); /* 背景圖片的路徑 */
  background-size: cover; /* 背景圖片的大小設定，cover表示完全覆蓋整個視窗 */
  background-repeat: no-repeat; /* 背景圖片不重複 */
  background-position: center; /* 將背景圖片置中 */
}
  }
  
  .container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 8px;
  }
  
  .pet img {
    max-width: 100%;
  }
  
  .status {
    margin-top: 10px;
  }
  
  .actions {
    margin-top: 20px;
  }
  
  button {
    padding: 8px 16px;
    margin: 5px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    background-color: #4CAF50;
    color: #fff;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #45a049;
  }
  
